{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<div class="formulaire-masque">
			<p class="texte-normal">
				Un mail contenant le lien pour modifier votre mot de passe a été envoyé.
				        Ce lien expire dans
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
			</p>
			<p class="texte-normal">Si vous n'avez rien reçu, merci de vérifier votre dossier Spam
				<a href="{{ path('app_forgot_password_request') }}">Nouvel essai</a>.</p>
		</div>

	</div>
{% endblock %}
