<footer class="footer">
	<div class="footer1">
		<ul>
			<li>Accueil</li>
			<li>Actualités</li>
			<li>Contacts</li>
			<li>A propos</li>
		</ul>
	</div>
	<div class="footer2">
		<table>
			<tr>
				<td><img src="{{ asset('assets/img/cabine.jpg')}}" alt="Photo" width="100px"></td>
				<td><img src="{{ asset('assets/img/desert.jpg')}}" alt="Photo" width="100px"></td>

			</tr>
			<tr>
				<td><img src="{{ asset('assets/img/cabine.jpg')}}" alt="Photo" width="100px"></td>
				<td><img src="{{ asset('assets/img/desert.jpg')}}" alt="Photo" width="100px"></td>

			</tr>
		</table>
	</div>
	<div class="footer3">
		<nav class="nav flex-column">
			<a class="nav-link active" href="#">Active</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link disabled" href="#">Disabled</a>
		</nav>
	</div>
	<div class="footer4"></div>
	<div class="copyright"> Tous droits réservés - JyB@st 2021</div>
</footer>
