{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    {% block header %}
		<header class="header">
			<div class="titre">
				<h1 class="header-titre">Passion Voyage</h1>
				<h2 class="header-caption">
					Partager nos voyages en famille.</h2>
			</div>
			{% block navigation %}
				{% include "includes/_menu.html.twig" %}
			{% endblock %}
		</header>
	{% endblock %}

    {% block main %}
    <div class="main">
        <div class="container">
            <div class="formulaire-conteneur">
                <div class="formulaire-masque">
                <h1 class="formulaire-titre">Modification du mot de passe</h1>
                    {% for message in app.flashes('error') %}
                        <div class="col-xs4">
                            <div class="p-3 my-2 rounded-2 error">{{ message }}</div>
                        </div>
                    {% endfor %}
                    <div >
                        <form action="" method="post">
                            <div class="form-field">
                                <label for="pass" class="formulaire-label"> Mot de passe</label>
                                <input type="password" id="pass" name="pass" class="formulaire-input">
                            </div>
                            <div name="pass"class="form-field">
                                <label for="pass2" class="formulaire-label"> Confirmer le mot de passe</label>
                                <input type="password" id="pass2" name="pass2" class="formulaire-input">
                            </div>
                            <button class="formulaire-bouton btn info">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block sidebar %}
        <aside class="sidebar">
            <div class="vertical-menu">
                <a href="{{ path('profilUser', {'id': app.user.id}) }}" class="d-block formulaire-lien">Retour à votre profil</a>
                <a href="{{ path('user_profil_modifier', {'id': app.user.id}) }}" class="d-block formulaire-lien">Modifier le profil</a>
                <a href="#" class="d-block formulaire-lien">Modifier mon avatar</a>
                <br>
                <br>
                {#<a href="{{ path('supprimerUser', {'id': app.user.id}) }}" class="d-block formulaire-lien">Supprimer mon profil</a>#}
                {% include 'user/_delete_form.html.twig' %}
            </div> 
        </aside>
    {% endblock %}
    <!-- ######### Bas de page ########### -->
    {% block footer %}
        {% include "includes/_footer.html.twig" %}
    {% endblock %}
{% endblock %}

